#grid {
    /* width: 18rem;                            sera généré par javascript
    height: 18rem;                              sera généré par javascript */
    display: grid;
    border: 3px solid black;
    /* grid-template-columns: auto auto;        sera généré par javascript
    grid-template-rows: auto auto;              sera généré par javascript */

}

.grid-item {
    width: 1rem;
    height: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}