:root {
    font-family: 'Roboto';
    font-size: 16px;
    --nav-size: 16rem;
}

body {
    /* retire le décalage */
    margin: 0;
    background-color: chocolate;
}


.navbar {
    width: var(--nav-size);
    margin-right: 2rem;
    height: 100vh;
    background-color: gray;
    position: fixed;
    margin-right: 2rem;
}

.navbar-nav {
    margin: 0;
    padding: 0px;
    flex-direction: column;
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.main {
    height: 100%;
    margin-left: 13rem;
    padding-left: 10px;
    background-color: royalblue;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    text-align: center;
}

.nav-item:last-child {
    margin-top: auto;
}