/*
Made by Damien and Adam
*/

.main strong {
    font-weight: 400;
}

.main {
    margin-left: 13rem;
    padding: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;

    min-height: 100vh;

    text-align: justify;
    text-justify: distribute-all-lines;
    background-color: var(--main-color);
    color: var(--main-text-color);
}

.main h1, .main h2, .main h3, .main h4, .main h5, .main h6 {
    margin: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
	text-align: left;
	font-weight: bold;
}

.main section{
	text-align: center;
}

.main p{
	text-indent: 1rem;
}

.main img{
	border: 3px solid var(--nav-color);
	margin: 1rem;
	margin-bottom: 0px;
    width: 45%;
    height: auto;
}


.main a {
    color: var(--main-text-color);
    text-decoration: underline;
    font-weight: 400;
}

#arrows_container {
    padding-top: 2rem;
    padding-bottom: 1rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.arrows_container_item {
    padding: 0.2rem;
    display: flex;
    align-items: center;

    color: white;

    border-width: 3px;
    border-style: solid;
    border-color: var(--settings-color);
    border-radius: 0.5rem;

    background-color: var(--settings-color);
}


.arrows_container_item:hover {
    background-color: var(--settings-color-hover);
    border-color: var(--settings-color-hover);
}

.arrows_container_item div {
    border-color: var(--main-color);
}

#left_arrow {
    width: 0; 
    height: 0; 
    border-top: .9rem solid transparent;
    border-bottom: .9rem solid transparent;

    border-right-width: .9rem;
    border-style: solid;

    border-left: 0;
}

#right_arrow {
    width: 0; 
    height: 0; 
    border-top: .9rem solid transparent;
    border-bottom: .9rem solid transparent; 

    border-left-width: .9rem;
    border-left-style: solid;

    border-right: 0;
}

.separator {
    width: 1rem;
}