/*
Made by Damien and Adam
*/

:root {
    font-family: 'Roboto';
    font-size: 16px;
    color: white;

    --nav-size: 16rem;

    --body-color: #93ac93ff;
    --nav-color: #002b22ff;
    --main-color: #dbe3deff;
}


.main {
    margin-left: 13rem;
    padding: 1.5rem;
    min-height: 100%;
    height: auto;
    text-align: justify;
    text-justify: distribute-all-lines;
    background-color: var(--main-color);
    color: black;
}

.main h1, .main h2, .main h3, .main h4, .main h5, .main h6 {
    margin-top: 0;
	text-align: center;
	font-weight: bold;
}

.main section{
	text-align:center;
}

.main p{
	text-indent: 1rem;
}

.main img{
	border: 3px solid var(--nav-color);
	margin: 1rem;
	margin-bottom: 0px;
    width: 35%;
    height: auto;
}
