/*
Made by Damien
*/

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #93ac93ff;
}
  
::-webkit-scrollbar-thumb {
    background: #536c5dff;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #536c5dff;
}