/*
Made by Damien
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap');

:root {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
}

#settings {
    padding: 0;
    align-items: flex-start;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--nav-color);
    /* animations */
    transition: all 300ms;
}


#settings.is-maximized {
    height: 5rem;
}

#settings-title {
    width: 11rem;
    border-style: solid;
    border-top-width: 0.5rem;
    border-left-width: 0.5rem;
    border-right-width: 0.5rem;
    border-bottom-width: 0rem;
    border-radius: 0.5rem 0.5rem 0 0;
    border-color: var(--settings-color);
    
    font-weight: bold;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--settings-color);
}

#settings-title:hover {
    background-color: var(--settings-color-hover);
    border-color: var(--settings-color-hover);
}

.settings-main {
    height: 100%;
    width: 100%;
    background-color: var(--settings-color);
}

.settings-items {
    display: flex;
    justify-content: space-between;
}
