:root {
    font-family: 'Roboto';
    font-size: 16px;

    --nav-size: 12rem;
    --nav-color: #002b22ff;
    --settings-color: #005544ff;
}

#settings {

    margin-top: auto;
    padding: 0;
    align-items: flex-start;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--nav-color);
    /* animations */
    transition: all 300ms;
}


#settings.is-maximized {
    height: 5rem;
}

#settings-title {
    width: 11rem;
    border-style: solid;
    border-top-width: 0.5rem;
    border-left-width: 0.5rem;
    border-right-width: 0.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
    border-color: var(--settings-color);
    
    font-weight: bold;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--settings-color);
}

#settings-title:hover {
    background-color: pink;
    border-color: pink;
}

.settings-main {
    height: 100%;
    width: 100%;
    background-color: var(--settings-color);
}

.settings-items {
    display: flex;
    justify-content: space-between;
}

.logo_img {
    width: 100%;
    height: auto;
}

.logo {
    height: 90%;
    width: 90%;
}