:root {
    font-family: 'Roboto';
    font-size: 16px;
}

body {
    /* retire le décalage */
    margin: 0;
}


#nav-bar {
    width: 5rem;
    height: 100vh;
    background-color: gray;
    position: fixed;
}


#main {
    margin-left: 5rem;
    padding-left: 1vw;
}